<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Tradeit</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/tradeit</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>loginUser</servlet-name>
    <servlet-class>com.tradeit.actions.accounts.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUser</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>com.tradeit.actions.accounts.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePost</servlet-name>
    <servlet-class>com.tradeit.actions.bussiness.CreatePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePost</servlet-name>
    <url-pattern>/createpost.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UploadImage</servlet-name>
  	<servlet-class>com.tradeit.actions.bussiness.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/uploadimage.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DisplayPostImage</servlet-name>
  	<servlet-class>com.tradeit.actions.bussiness.DisplayPostImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPostImage</servlet-name>
    <url-pattern>/displaypostimage.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.tradeit.actions.accounts.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>